.image {
    width: 30px;
    height: 30px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightseagreen;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}